webqueue-status ul {
    padding: 0;
    margin: 0;
}

webqueue-status ul {
    list-style-type: none;
}

footer img.enrise-logo {
    vertical-align: middle;
    height: 20px;
    margin-left: 10px;
}

