<webqueue-status></webqueue-status>

<header class="row">

    <div class="col-lg-12">

        <div class="row">
            <div class="col-lg-12">
                <h1>Webqueue <span class="subtitle">&mdash; The job queue with insight</span></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <webqueue-queue-graph></webqueue-queue-graph>
            </div>
        </div>

    </div>

</header>


<webqueue-create-job></webqueue-create-job>

<section class="wpanel row">
    <webqueue-latest-jobs></webqueue-latest-jobs>
</section>
