<h2>Latest {{messages.length}} messages</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Time</th>
            <th>Status</th>
            <th>Request</th>
            <th>Response</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="message in messages">
            <td>{{message.Timestamp|date:"dd-MM-yyyy HH:mm:ss"}}</td>
            <td>{{message.Status}}</td>
            <td>{{message.Request|limitTo:50}}</td>
            <td>{{message.Response|limitTo:50}}</td>
        </tr>
    </tbody>
</table>

<!--<ul>-->
    <!--<li ng-repeat="message in messages">-->
        <!--{{message.Request|limitTo:50}}-->
    <!--</li>-->
<!--</ul>-->
